# dependencies
/node_modules

# misc
firebase.json
.DS_Store
.env
.eslintcache

# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
